@namespace MudBlazor
@inherits MudComponentBase
@typeparam T
@using MudBlazor.Utilities
@using MudBlazor.Resources
@inject InternalMudLocalizer Localizer

@{
    var resolvedItems = new List<IndexBag<T>>(0);
    if (DataGrid.IsGrouped)
    {
        if (GroupedItems is not null)
        {
            resolvedItems = GroupedItems.Select((item, index) => new IndexBag<T>(index, item)).ToList();
        }
    }
    else if (!DataGrid.Virtualize || DataGrid.VirtualizeServerData == null || DataGrid.HasFooter)
    {
        resolvedItems = DataGrid.CurrentPageItems.Select((items, index) => new IndexBag<T>(index, items))
                .ToList();
    }
    else
    {
        resolvedItems = DataGrid.CurrentPageItems.Select((item, index) => new IndexBag<T>(index, item)).ToList();
    }
}

<MudVirtualize @ref="DataGrid._mudVirtualize"
               ItemsProvider="@DataGrid.VirtualItemsProvider"
               Enabled="@DataGrid.Virtualize"
               Items="@resolvedItems"
               OverscanCount="@DataGrid.OverscanCount"
               ItemSize="@DataGrid.ItemSize"
               Context="itemBag">
    <Placeholder>
        @if (DataGrid.RowLoadingContent != null)
        {
            @DataGrid.RowLoadingContent
        }
        else
        {
            <tr class="mud-table-row">
                <td class="mud-table-cell" colspan="1000">
                    @Localizer[LanguageResource.MudDataGrid_Loading]
                </td>
            </tr>
        }
    </Placeholder>

    <ChildContent>
        @if (DataGrid.HierarchicalRows && !DataGrid.IsGrouped)
        {
            @RenderHierarchyRow(itemBag.Item, itemBag.Index, 0)
        }
        else
        {
            var rowClass = new CssBuilder(DataGrid.RowClass).AddClass(DataGrid.RowClassFunc?.Invoke(itemBag.Item, itemBag.Index)).Build();
            var rowStyle = new StyleBuilder().AddStyle(DataGrid.RowStyle).AddStyle(DataGrid.RowStyleFunc?.Invoke(itemBag.Item, itemBag.Index)).Build();

            <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="itemBag.Item"
                @onclick="@((args) => RowClick.InvokeAsync((args, itemBag.Item, itemBag.Index)))"
                @oncontextmenu="@((args) => ContextRowClick.InvokeAsync((args, itemBag.Item, itemBag.Index)))"
                @oncontextmenu:preventDefault="@(DataGrid.RowContextMenuClick.HasDelegate ? true : false)">
                <CascadingValue Value="@DataGrid.Validator" IsFixed="true">
                    @foreach (var column in DataGrid.RenderedColumns)
                    {
                        if (!column.HiddenState.Value)
                        {
                            @DataGrid.Cell(column, itemBag.Item)
                        }
                    }
                </CascadingValue>
            </tr>
            @if ((DataGrid.ChildRowContent != null || DataGrid.ChildRowRenderer != null)&& (DataGrid._openHierarchies.Contains(itemBag.Item) || !DataGrid.HasHierarchyColumn))
            {
                @if (DataGrid.ChildRowRenderer != null)
                {
                    @DataGrid.ChildRowRenderer(new CellContext<T>(DataGrid, itemBag.Item))
                }
                @if (DataGrid.ChildRowContent != null)
                {
                    <tr class="mud-table-row">
                        <td class="mud-table-cell mud-table-child-content" colspan="1000">
                            @DataGrid.ChildRowContent(new CellContext<T>(DataGrid, itemBag.Item))
                        </td>
                    </tr>
                }
            }
        }
    </ChildContent>
    <NoRecordsContent>
        <tr>
            <th colspan="1000" class="mud-table-empty-row">
                <div Class="my-3">
                    @DataGrid.NoRecordsContent
                </div>
            </th>
        </tr>
    </NoRecordsContent>
</MudVirtualize>

@code {
    private RenderFragment RenderHierarchyRow(T item, int itemIndex, int depth) => __builder =>
    {
        var hasChildren = DataGrid.HasHierarchyChildren(item);
        var isExpanded = DataGrid.IsHierarchyItemExpanded(item);
        var rowClass = new CssBuilder(DataGrid.RowClass)
            .AddClass(DataGrid.RowClassFunc?.Invoke(item, itemIndex))
            .AddClass($"hierarchy-level-{depth}")
            .Build();
        var rowStyle = new StyleBuilder()
            .AddStyle(DataGrid.RowStyle)
            .AddStyle(DataGrid.RowStyleFunc?.Invoke(item, itemIndex))
            .Build();

        <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="item"
            @onclick="@((args) => RowClick.InvokeAsync((args, item, itemIndex)))"
            @oncontextmenu="@((args) => ContextRowClick.InvokeAsync((args, item, itemIndex)))"
            @oncontextmenu:preventDefault="@(DataGrid.RowContextMenuClick.HasDelegate ? true : false)">
            <CascadingValue Value="@DataGrid.Validator" IsFixed="true">
                @{
                    bool isFirstColumn = true;
                }
                @foreach (var column in DataGrid.RenderedColumns)
                {
                    if (!column.HiddenState.Value)
                    {
                        if (isFirstColumn)
                        {
                            @RenderFirstCellWithExpander(column, item, depth, hasChildren, isExpanded)
                            isFirstColumn = false;
                        }
                        else
                        {
                            @DataGrid.Cell(column, item)
                        }
                    }
                }
            </CascadingValue>
        </tr>
        
        @if (isExpanded && hasChildren)
        {
            var children = DataGrid.GetHierarchyChildren(item);
            int childIndex = 0;
            foreach (var child in children)
            {
                @RenderHierarchyRow(child, itemIndex + childIndex + 1, depth + 1)
                childIndex++;
            }
        }
    };

    private RenderFragment RenderFirstCellWithExpander(Column<T> column, T item, int depth, bool hasChildren, bool isExpanded) => __builder =>
    {
        var cell = new Cell<T>(DataGrid, column, item);
        var cellStyle = new StyleBuilder()
            .AddStyle(cell.ComputedStyle)
            .AddStyle("padding-left", $"{depth * DataGrid.HierarchyIndentSize + 16}px")
            .Build();

        <td data-label="@column.Title" class="@cell.ComputedClass" style="@cellStyle">
            <div style="display: flex; align-items: center; gap: 4px;">
                @if (hasChildren)
                {
                    <MudIconButton 
                        Icon="@(isExpanded ? Icons.Material.Filled.ExpandMore : Icons.Material.Filled.ChevronRight)"
                        Size="Size.Small"
                        OnClick="@(() => DataGrid.ToggleHierarchyItemAsync(item))"
                        Class="hierarchy-expander"
                        Style="flex-shrink: 0;" />
                }
                else
                {
                    <span class="hierarchy-indent-spacer" style="width: 40px; flex-shrink: 0;"></span>
                }
                <span style="flex: 1;">
                    @if (column.CellTemplate != null)
                    {
                        @column.CellTemplate(cell._cellContext)
                    }
                    else
                    {
                        @cell.ComputedValue
                    }
                </span>
            </div>
        </td>
    };
}
